.about-section {
  display: flex;
  flex-direction: column;
  background-color:#f7f9f8;
  text-align: center;
  height:500px
 
}
section{
    padding:70px 10px 10px 30px;
    background-color:#ebebeb;
    width:30%;
    height:300px;
    font-style: italic;
    margin: auto;
    border-radius:5px;
    
};
.section:hover{
    cursor: pointer;
    background-color:red
    
}

u{
    text-decoration-color: rgb(215, 224, 228);
}
.contact-section u:focus{
    outline-width: 0;
}
.contact-section{
    text-align: center
}

